
    <h1 class="sub-header">Create a Group!</h1>

    <%= form_for [@user, @group], url: user_groups_path do |form| %>
      <div class="field column small-12">
        <%= form.label :name, class: "text-input-label" %><br>
        <%= form.text_field :name, class: "text-input-field", placeholder: 'Group Name' %>
      </div>
      <div class="field column small-12">
        <%= form.label :description, class: "text-input-label" %><br>
        <%= form.text_field :description, class: "text-input-field", placeholder: 'add a description of your group'%>
      </div>
      <br>
      <div class="row">
        <%= form.submit "Create a Group!", class:"button round tiny" %>
      </div>
    <% end %>
  </div>
