<% content_for :nav do %>
  <%= link_to "Draw Names", new_group_pair_path(@group) %>
<% end %>
<div class="image">
  <h1 class="sub-header"><%= @group.name %></h1>
  <hr>
</div
<h1><%= @group.description %>:</h1>
<div>
  <ul>
  <% @members.each do |member| %>
  <li><%= member.name %></li>
  <% end %>
  </ul>
</div>
<div class="">
  <div class="row">
    <%= link_to "Add Group Members", new_group_membership_path(@group), method: :get %>
  </div>
</div>
